.sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid var(--border);
  background-color: color-mix(in oklab, var(--background) 80%, transparent);
  backdrop-filter: blur(7.5px);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 95dvw;
  height: 60px;
  margin: 0 auto;
}
.wrapper > div {
  display: flex;
  align-items: center;
}

.title {
  cursor: pointer;
  height: 40px;
  gap: 10px;
  transition: ease-in-out 150ms;
}
.title img {
  object-fit: contain;
  width: auto;
  height: 100%;
  filter: brightness(3.75);
}
.title h1 {
  color: var(--color-white);
  font-size: 18px;
}

.category {
  gap: 5px;
}
.category > div {
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 2.5px;
  opacity: 0.35;
  transition: ease-in-out 150ms;
}
.category p {
  color: var(--color-white);
  font-size: 14px;
}

.toggled {
  opacity: 1 !important;
  background-color: rgba(255, 255, 255, 0.075);
  box-shadow: 0px 0px 7.5px 1px color-mix(in oklab, var(--primary) 35%, transparent);
}
.toggled p {
  color: var(--primary);
}

.sign {
  gap: 10px;
}
.sign button {
  cursor: pointer;
  padding: 2.5px 5px;
  border-radius: 2.5px;
  transition: ease-in-out 150ms;
}
.sign button:first-child {
  border: 1px solid var(--card-foreground);
  color: var(--color-white);
  background-color: transparent;
}
.sign button:last-child {
  border: 1px solid var(--primary);
  color: var(--background);
  background-color: var(--primary);
  box-shadow: 0px 0px 10px 1px color-mix(in oklab, var(--primary) 85%, transparent);
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 5px;
}
.userProfile img {
  object-fit: contain;
  width: auto;
  height: 14px;
  filter: invert(0.45);
}
.userProfile p {
  color: var(--color-gray);
  font-size: 14px;
}

@media (hover: hover) {
  .title:hover {
    opacity: 0.65;
  }
  .category > div:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.075);
  }
  .sign button:hover {
    opacity: 0.65;
  }
}