.container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100dvh;
  border-right: 1px solid var(--dark-line);
  background-color: var(--light-white);
}

.logoContainer {
  display: flex;
  padding: 7.5px;
}
.logoContainer > div {
  cursor: pointer;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: ease-out 150ms;
}
.logoContainer img {
  object-fit: contain;
  width: auto;
  height: 100%;
}

.categoryContainer {
  padding: 7.5px;
}
.categoryContainer > div {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  gap: 5px;
  transition: ease-out 150ms;
}
.categoryContainer img {
  object-fit: contain;
  width: auto;
  height: 16px;
  filter: invert(0.25);
}
.categoryContainer p {
  color: var(--black);
  font-size: 14px;
  user-select: none;
  -webkit-user-drag: none;
}

.toggledCategory {
  background-color: rgba(0, 0, 0, 0.15);
}

.agentsContainer {
  flex: 1;
  padding: 7.5px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #8B8B8B transparent;
}
.agentsTitle {
  padding: 10px;
}
.agentsTitle p {
  color: var(--light-black);
  font-size: 14px;
  user-select: none;
  -webkit-user-drag: none;
}
.agentsList {
  display: flex;
  flex-direction: column;
}
.agentsList > div {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: ease-out 150ms;
}
.agentsList p {
  color: var(--black);
  font-size: 14px;
}

.toggledAgent {
  background-color: rgba(0, 0, 0, 0.15);
}

.profileContainer {
  position: relative;
  padding: 7.5px;
  margin-top: auto;
}
.profileContainer > div {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  gap: 5px;
  transition: ease-out 150ms;
}
.profileContainer img {
  object-fit: contain;
  width: auto;
  height: 16px;
}
.profileContainer p {
  font-size: 14px;
  user-select: none;
  -webkit-user-drag: none;
}

.profilePanel {
  position: absolute;
  z-index: -1;
  transform: translateY(-100%);
  top: -5px;
  left: 0;
  width: calc(100% - 35px);
  margin: 7.5px;
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: ease-out 150ms;
}
.profilePanel p {
  font-size: 14px;
  user-select: none;
  -webkit-user-drag: none;
}

.toggledProfilePanel {
  z-index: 1;
  opacity: 1;
}

@media (hover: hover) {
  .logoContainer > div:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }

  .categoryContainer > div:not(.toggledCategory):hover {
    background-color: rgba(0, 0, 0, 0.075);
  }

  .agentsList > div:not(.toggledAgent):hover {
    background-color: rgba(0, 0, 0, 0.075);
  }

  .profileContainer > div:not(.profilePanel):hover {
    background-color: rgba(0, 0, 0, 0.075);
  }

  .profilePanel:hover {
    background-color: #dadada;
  }
}