.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContainer {
  cursor: pointer;
  display: flex;
  height: 40px;
  padding: 5px;
}
.logoContainer img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.titleContainer {
  width: 45dvw;
  margin-top: 100px;
  color: var(--dark-theme);
  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 45dvw;
  margin-top: 50px;
  gap: 15px;
}
.form div {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
}
.form p {
  font-size: 14px;
}
.form input {
  padding: 10px;
  border: 1px solid var(--light-line);
  border-radius: 5px;
  color: var(--dark-theme);
  font-size: 12px;
  outline: none;
}
.form button {
  cursor: pointer;
  padding: 15px 75px;
  border: 0;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--dark-theme);
  transition: ease-out 150ms;
}
.form button:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}

.moreContainer p {
  text-align: center;
  font-size: 12px;
}

@media (hover: hover) {
  .form button:not(:disabled):hover {
    opacity: 0.75;
  }
}

@media screen and (max-width: 768px) {
  .form {
    width: 85dvw;
  }
}