* {
  padding: 0;
  margin: 0;
  font-family: 'Arial';
}

:root {
  --theme: #070942;
  --dark-theme: #0D1117;

  --line: #2b2b2b;
  --dark-line: #EDEDED;
  --light-line: #d0d0d0;

  --white: #F2F2F5;
  --light-white: #F9F9F9;

  --black: #0D0D0D;
  --light-black: #8F8F8F;
}