.container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background:
    radial-gradient(
      ellipse at 50% 15%,
      rgba(7, 9, 66, 0.65) 0%,
      rgba(7, 9, 66, 0.45) 30%,
      rgba(7, 9, 66, 0.25) 50%,
      rgba(7, 9, 66, 0.10) 65%,
      rgba(7, 9, 66, 0.0) 75%
    ) padding-box,
  
    linear-gradient(
      180deg,
      #050733 0%,
      #070942 30%,
      #10146a 65%,
      #1b1f8a 100%
    ) border-box;
}

.topContainer {
  position: sticky;
  top: 0;
  display: flex;
  height: 50px;
  background-color: transparent;
  /* background-color: var(--dark-theme); */
}

.topWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 25px;
}
.topWrapper > div {
  flex: 1;
}

.logoContainer {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 100%;
}
.logoContainer img {
  object-fit: contain;
  width: auto;
  height: 100%;
  filter: brightness(3.25);
}

.signContainer {
  display: flex;
  justify-content: flex-end;
  gap: 7.5px;
}
.signContainer button {
  cursor: pointer;
  min-width: 70px;
  padding: 5px 10px;
  border: 1px solid var(--white);
  border-radius: 5px;
  color: var(--white);
  background-color: transparent;
  transition: ease-out 150ms;
}

.featureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  margin-top: 100px;
}
.featureContainer .message {
  display: flex;
  flex-direction: column;
  color: var(--white);
  white-space: pre-wrap;
  text-align: center;
  gap: 15px;
}

.startContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 30px;
  margin-top: 50px;
  gap: 50px;
}
.startContainer button {
  cursor: pointer;
  padding: 15px 75px;
  border: 1px solid var(--white);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.25);
  color: var(--white);
  font-size: 18px;
  font-weight: bolder;
  transition: ease-out 150ms;
}

@media (hover: hover) {
  .signContainer button:hover {
    opacity: 0.5;
  }

  .startContainer button:hover {
    opacity: 0.5;
  }
}

@media screen and (max-width: 768px) {
  .signContainer button:last-child {
    display: none;
  }
}